.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/mapa2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.city-icon {
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.icon:hover {
  color: yellow;
}
